@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FCFDF1;
  --foreground: #171717;

  --primary: #1F61F7;
  --light-blue: #F5F7FA;
  --light-red: #FFE1E1;
  --sky-blue: #DBF0FF;
  --light-green: #c5fcedfa;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--signika);

  height: 100vh;
}
